/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #ff0070;
  --color-rec: #ff0070;
  --page-font-family: "IBM Plex mono";
  --main-font-size: 18px;
  --main-title-color: #db00ff;
  --line-height: 23.4px;
  --main-text-color: #f1b2ce;
  --decorated-color: #ff0070;
  --title-page-color: #ff0070;
  --title-article-color: #000028;
  --button-color: #ff0070;
  --hover-color-button: rgba(255, 0, 112, 0.4);
  --focus-color-button: rgb(255, 0, 112);
  --page-background-image: url(../images/cover-image-dark.png);
  --page-background-color: #000028;
  --link-color: #ff0070;
}
